

  <div class="topicTitle">{{ topic.title }} </div>
  <div class="topicDate">{{ topic.postedDate | date }} </div>
  <a href="/users/{{topic.topicAuthorId}}"><div class="topicAuthor">By: {{ topic.topicPostedBy }} </div></a>
  <br>
  <input type="text" ng-model="commentBox">
  <button ng-click="addComment()">Comment</button>
  <br>
  <br>


  <div ng-repeat="message in topic.messages track by $index">
    <div class="messageContainer">
      <div class="messageDetails">

        <a href="/users/{{message.msgAuthorId}}"><div class="messageAuthor">{{ message.msgPostedBy }}</div></a>

        <div class="postedOn">{{ message.postedDate | date }}</div>

        <button ng-if="message.editable && !message.editOn" class="editCommentBtn" ng-click="editComment($index)">Edit</button>

        <button ng-if="message.editable && !message.editOn" class="deleteCommentBtn" ng-click=" deleteComment($index)">Delete</button>

      </div>

      <div ng-if="!message.editOn" class="msgBody">{{ message.body }}</div>

      <input ng-model="message.newMsgBody" type="text" ng-if="message.editOn" >

      <button ng-if="message.editOn" ng-click="saveEdit($index)">Save</button>

      <button ng-if="message.editOn" ng-click="cancelEdit($index)">Cancel</button>

      <br>
      <br>
    </div>
  </div>